site_name: JHU CompTox Lab
repo_url: https://github.com/comp-tox-jhu/CompToxLab
edit_uri: blob/main/docs/

theme:
  name: material
  features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.sections
        - content.action.edit 
        - navigation.footer
        - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: 'img/logo3.png'
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      prerequisite: octicons/beaker-16
      quote: octicons/quote-16
        
markdown_extensions:
  - admonition
  - tables
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
     
extra_css:
    - stylesheets/extra.css
    
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

nav:
    - About : 
        - Introduction: index.md
    - Programming Languages/Tools:
        - "Programming Languages/Tools": programming_languages_tools/programming_languages_tools.md
        - Unix:
            - "Introduction To Shell/Unix":
                - "Introduction": programming_languages_tools/unix/01_introduction.md
                - "Navigating Files & Directories": programming_languages_tools/unix/02_navigating_files_directories.md
                - "Managing Files & Directories": programming_languages_tools/unix/03_managing_files_directories.md
                - "Redirection and Pipes": programming_languages_tools/unix/04_redirection_pipes.md
                - "Regular Expressions": programming_languages_tools/unix/05_regular_expressions.md
                - "Shell Scripting": programming_languages_tools/unix/06_shell_scripts.md
            - "Unix Cheatsheet": programming_languages_tools/unix_cheatsheet.md
        - R:
            - "Introduction to R":
                - "Introduction": programming_languages_tools/intro_to_r/01_introduction.md
                - "Data Types/Variables/Vectors": programming_languages_tools/intro_to_r/02_data_types_variables_vectors.md
                - "Data Structures": programming_languages_tools/intro_to_r/03_data-structures.md
                - "Functions/Flow": programming_languages_tools/intro_to_r/04_functions-flow.md
                - "Inspecting/Manipulating Data": programming_languages_tools/intro_to_r/05_inspecting-manipulating-data.md
                - "Data Vizualization": programming_languages_tools/intro_to_r/06_visualization.md
            - "Data Manipulation/Visualization In R":
                - "Introduction": programming_languages_tools/r_data_viz/01_introduction.md
                - "Data Manipulation": programming_languages_tools/r_data_viz/02_data_manipulatation.md
                - "Data Visualization": programming_languages_tools/r_data_viz/03_data_visualization.md
            - "R Cheatsheet": programming_languages_tools/r_cheatsheet.md
        - Python:
            - "Introduction to Python":
                - "Introduction": programming_languages_tools/intro_to_python/01_introduction.md
                - "Variables/Data Types": programming_languages_tools/intro_to_python/02_variables-data-types.md
                - "Libraries/Data Frames": programming_languages_tools/intro_to_python/03_libraries-data-frames.md
                - "Plotting Data": programming_languages_tools/intro_to_python/04_plotting-plotly.md
                - "Lists": programming_languages_tools/intro_to_python/05_lists.md
                - "Loops/Conditionals": programming_languages_tools/intro_to_python/06_loops-conditionals.md
                - "Functions/Scope": programming_languages_tools/intro_to_python/07_functions-scope.md
            - "Conda Environments": programming_languages_tools/conda/conda_environment.md
        - Misc:
            - "Github": programming_languages_tools/misc/github.md
            - "API": programming_languages_tools/misc/api.md         
    - Biostatistics:
        - "Biostatistics": biostatistics/biostatistics.md
        - "Setup": biostatistics/biostats.md
        - "Biostatistics Cheatsheet": biostatistics/biostatistics_cheatsheet.md
        - Variables and Sampling:
            - "Quantitative Variables": biostatistics/quant.md
            - "Qualitative Variables": biostatistics/qual.md
            - "Sampling": biostatistics/sampling.md
            - "Confidence Intervals": biostatistics/confidence-interval.md
            - "Probability Distributions": biostatistics/distributions.md
        - Analyzing One Categorial Variable:
            - "Binomial Test": biostatistics/binomial-test.md
        - Analyzing Two Categorical Variables:
            - "Odds": biostatistics/odds.md
            - "Risk/Odds Ratio": biostatistics/odds-ratio-risk.md
            - "Fisher's Exact Test": biostatistics/fisher-test.md
            - "Chi-Square Test": biostatistics/chi-square.md
        - Analyzing One Numeric Variable:
            - "One Sample T-Test": biostatistics/one-t-test.md
        - Analyzing Numeric Variable With Two Groups:
            - "Paired T-Test": biostatistics/paired-t-test.md
            - "Two Sample T-Test": biostatistics/two-t-test.md
        - Analyzing Two Numeric Variables:
            - "Correlation": biostatistics/correlation.md
        - Analyzing Two Or More Groups:
            - "One-Way ANOVA": biostatistics/one-way-anova.md
    - Machine Learning:
        - "Machine Learning": machine_learning/machine_learning.md
        - "Tutorial Setup": machine_learning/setup.md
        - Unsupervised Learning:
            - "Dimension Reduction": machine_learning/unsupervised/dimension-reduction.md
            - "Distance Metrics": machine_learning/unsupervised/clustering.md
            - "K-Means Clustering": machine_learning/unsupervised/k-means.md
            - "Hierarchical Clustering": machine_learning/unsupervised/hierarchical.md
        - Supervised Learning:
            - Linear Models: machine_learning/supervised/linear-model.md
            - Logistic Regression: machine_learning/supervised/logistic-regression.md
            - Survival Analysis Part 1: machine_learning/supervised/surv-part1.md
            - Survival Analysis Part 2: machine_learning/supervised/surv-part2.md
            - Multivariate Regression: machine_learning/supervised/multivariate-regression.md
            - Model Performance: machine_learning/supervised/model-performance.md
        - Deep Learning:
            - Setup: machine_learning/deep_learning/00_setup.md
            - Basics: machine_learning/deep_learning/01_basics.md
            - Linear Models: machine_learning/deep_learning/02_linear_model.md
            - Classifiers/Multilayer Perceptrons: machine_learning/deep_learning/03_classifier_mlp.md
            - Autoencoders: machine_learning/deep_learning/04_autoencoder.md
    - Omics:
        - Omics: omics/omics.md
        - Transcriptomics:
            - "Bulk RNA-Sequencing":
                - "Introduction": omics/transcriptomics/bulk_rna_seq/01_introduction.md
                - "Setup": omics/transcriptomics/bulk_rna_seq/02_setup.md
                - "Quality Control": omics/transcriptomics/bulk_rna_seq/03_quality_control.md
                - "Read Alignment": omics/transcriptomics/bulk_rna_seq/04_read_alignment.md
                - "Gene Quantification": omics/transcriptomics/bulk_rna_seq/05_gene_quantification.md
                - "Differential Expression": omics/transcriptomics/bulk_rna_seq/06_differential_expression.md
            - "Bulk RNA-seq":
                - "Differential Expression": omics/transcriptomics/rna_seq/deg.md
            - "PCR Validation":
                - "PCR Validation": omics/transcriptomics/pcr_validation/pcr.md
